main {
    padding-top: 30px;
    background: inherit;

    .cards-container {
        @include flex($justify: space-around);
        max-width: 800px;
        background: inherit;

        .card {
            flex-basis: 200px;
            height: 350px;
            padding: 20px;
            background-color: $header-background;
            margin: 25px;
            cursor: pointer;

            .card__poster {
                width: 160px;
            }

            .card__title,
            .card__year {
                color: #fff;
            }

            .card__title {
                margin: 10px 0;
            }

            .card__author {
                color: #aaa;
            }
        }
    }

    .active {
        display: block;
        padding-top: 30px;
        color: #fff;
        font-size: 150%;
    }
}

